@import '@fortawesome/fontawesome-free/css/all.css';

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Fondo suave */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #343a40; /* Texto oscuro */
  margin-bottom: 20px;
}

.container {
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px;
}

button {
  background-color: #007bff; /* Color de fondo del botón */
  color: #ffffff; /* Texto blanco */
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}

input[type="text"] {
  width: calc(100% - 50px); /* Espaciado para el botón */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 10px;
  background-color: #fafafa; 
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 p{
  color: black;
 }